.counter-section
{
	
	color: #000000;
}
.icon-box
{
	border-: 10px;
	border-color: rgb(0,0,0);
	height: 100px;
	width: 100px;
	margin:20px auto;
	transform:rotate(45deg);
}
.icon-box .fa{
	font-size:40px;
	margin:25px auto;
	color:#ffc800;
	transform:rotate(-45deg);
}
.counter-box p
{
	font-size:20px;
}
.counter-box .counter
{
	font-size:50px;	
}